.top-wrapper {
  padding: 42px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo {
  padding: 0;
  margin: 0;
  display: block;
}

.logo img {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 12rem;
}

.navigation {
  padding: .5rem 1rem;
}



.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.nav-list-item {
  text-decoration: none;
  color: #4d4d4d;
  border-bottom: 4px solid #eee;
  padding: 1rem .5rem;
  margin: 0;
}

.nav-list-item:hover {
  color: #3dafca;
  border-color: #3498b1;
}

.contact-right {
  margin: 28px 0 0 28px;
}

.contact-number {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  color: #4d4d4d;

}

.contact-email {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: flex;
}

#section-home{
  margin: 0;
}

.container{
  width:100%;
  box-sizing: border-box;
}

.home-full{
  margin: 20px 0 0 0;
}

.home-text-we p {
  line-height: 50px;
  font-size: 100px;
  letter-spacing: -7px;
  font-family: sans-serif;
  margin:110px 0 -40px 0;
  font-weight:bold;
}

.home-text-design p {
  font-size:50px;
  letter-spacing: -4px;
  font-weight:bold;
  padding: 0;
  margin-bottom:0;
}

.home-text-small {
  font-weight:normal;
  margin-top: 30px;
  color:grey;
  font-size: 22px;
}

.home-text-small p {
  margin:0;
  padding:0;
}

.list-product {
  position: relative;
  margin: 50px 0 0 0;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow:hidden;
  display: flex;
  width: 100%;
}

.list-product-box {
  position: relative;
  width: 17%;
  padding: 43px;
  border-top: 5px solid #e6e6e6;
}

.box-grey {
  border-color: #8995A2;
}

.title{
  min-height:50px;
  letter-spacing: -2px;
  color:#4d4d4d;
  font-weight:bold;
  font-size:33px;
}

.desc-text{
  font-size:14px;
  line-height:18px;
  color:grey;
  margin-top:15px;
  font-weight:lighter;
  width: 100%;
}

.border{
  width: 1px;
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
  background: #e6e6e6;
}

.box-blue{
  border-color: #3dafca;
}

.desc-knowmore{
  display: inline-block;
  padding: 12px 35px 13px 35px;
  font-size: 15px;
  border: 1px solid #ccc;
  color: #666;
  background: #FFF;
  font-family: sans-serif;
  text-decoration: none;
}

.desc-knowmore p{
  font-weight:bold;
  margin: 5px;
}


#section-projects{
  padding: 10px 0 0 0;
}

.projects-container{
  padding: 0 0px;
  box-sizing: border-box;
}

.projects-text-center h2 {
  display: flex;
  justify-content: center;
}

.pro-title{
  letter-spacing:-3px;
  justify-content: center;
}

.pro-title p{
  font-size:55px;
  font-weight:400;
  margin: 0;
}

.pro-title-text p{
  font-size:14px;
  margin-top:5px;
  color:#999;
  font-weight: lighter;
  display:flex;
  justify-content: center;
}

.pro-list-sites{
  margin-top:30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.pro-site-box{
  list-style: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.pro-site-box img {
  filter:brightness(50%);
}

#studio {
  padding: 10px 0 0 0;

}

.studio-container {
  padding: 0 0px;
  box-sizing: border-box;
  display: block;

}

.studio-text-center {
  width: 100%;
  text-align: center;

}

.studio-title {
  letter-spacing:-3px;
  text-align: center;
}

.studio-title p {
  font-size:55px;
  font-weight:400;
  margin: 0;
  text-align: center;

}

.studio-title-text p{
  font-size:14px;
  margin-top:5px;
  color:#999;
  font-weight: lighter;
}

.studio-left-text {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  margin:0;
  padding: 0;
}

.studio-left-text p {
  color: grey;
  line-height: 20px;
  padding: 0 20px 0 0;
}

.studio-content {
  display: flex;
  justify-content: center;
}

.studio-box-right {
  padding: 25px 42px 25px 42px;
  color: #797F8B;
  background: #4C535F;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.studio-box_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.stud-number {
  font-size: 36px;
  margin: 5px 0 0 0;
  padding: 0;
}

.stud-text {
  font-size: 18px;
  margin: 5px 0 0 0;
  padding: 0;
}

@media (min-width: 380px) {

}
@media (min-width: 780px) {

}

@media (min-width: 1024px) {
  
}
